/* Checkboxes */
input[type="checkbox"] {
  margin-left: 15px;
  position: relative;
}
input[type="checkbox"]::before {
  position: absolute;
  left: -15px;
}
input[type="checkbox"].hc-initial:not(:checked)::before {
  content: "-";
  color: red;
}
input[type="checkbox"]:checked:not(.hc-initial)::before {
  content: "+";
  color: green;
}
input[type="checkbox"].hc-initial:not(:checked) ~ label {
  color: red;
}
input[type="checkbox"]:checked:not(.hc-initial) ~ label {
  color: green;
}

/* Changes Link */
.hc-changes a {
  color: red;
}
.hc-changes a:hover {
  color: red;
  filter: brightness(80%);
  border-bottom: none;
  cursor: pointer;
}

/* Dialog styles */
.hc-added {
  color: green;
}
.hc-removed {
  color: red;
}
#hc-dialog .diff {
  white-space: pre-wrap;
}
#hc-dialog ins {
  text-decoration: none;
  background-color: #c7f0d2;
  color: #005500;
}
#hc-dialog del {
  background-color: #fac5cd;
  color: #800000;
}
